# This is a copy of the output of git status after running premake and make:
Makefile
freeglut/Makefile
freeglut/config.h
freeglut/config.log
freeglut/config.status
freeglut/doc/Makefile
freeglut/include/GL/Makefile
freeglut/include/Makefile
freeglut/libtool
freeglut/progs/Makefile
freeglut/progs/demos/CallbackMaker/.deps/
freeglut/progs/demos/CallbackMaker/Makefile
freeglut/progs/demos/Fractals/.deps/
freeglut/progs/demos/Fractals/Makefile
freeglut/progs/demos/Fractals_random/.deps/
freeglut/progs/demos/Fractals_random/Makefile
freeglut/progs/demos/Lorenz/.deps/
freeglut/progs/demos/Lorenz/Makefile
freeglut/progs/demos/Makefile
freeglut/progs/demos/One/.deps/
freeglut/progs/demos/One/Makefile
freeglut/progs/demos/shapes/.deps/
freeglut/progs/demos/shapes/Makefile
freeglut/progs/demos/smooth_opengl3/.deps/
freeglut/progs/demos/smooth_opengl3/Makefile
freeglut/progs/demos/spaceball/.deps/
freeglut/progs/demos/spaceball/Makefile
freeglut/src/.deps/
freeglut/src/Makefile
freeglut/stamp-h1
glimg/Makefile
glload/Makefile
glmesh/Makefile
glutil/Makefile

